---
layout: default

---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">

  {% if page.illustrations %}
    {% for illustration in page.illustrations %}
    <div class="illustration">
      <div class="illustration__image">
        <img src="../{{ illustration.images }}">
      </div>
      <div class="illustration__details">
      <h3>{{ illustration.title }}</h3>
      <p>{{ illustration.description }}</p>
      <p><small>{{ illustration.media }}</small></p>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  {% if page.websites %}
    {% for website in page.websites %}
    <div class="illustration">
      <div class="illustration__image">
        <a href="{{ website.url }}"><img src="../{{ website.images }}"></a>
      </div>
      <div class="illustration__details">
      <h3><a href="{{ website.url }}">{{ website.title }}</a></h3>
      <p>{{ website.description }}</p>
      <p><small>{{ website.media }}</small></p>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </article>

</div>
